{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_name %}
  {% if product.alohaConfiguratorListing  %}
    <div class="aloha-listing-variants">

      {% set displayType = product.alohaConfiguratorListing.displayType %}
      {% for setting in product.alohaConfiguratorListing.settings %}
        {% if displayType == "color" %}
          <a href="{{ seoUrl('frontend.detail.page', {productId: setting.product.id}) }}"
             class="aloha-listing-variant-color"
             style="background-color: {{ setting.option.colorHexCode }}">
          </a>

        {% endif %}
        {% if displayType == "text" %}
          <div class="aloha-listing-variant-text">
            {{ setting.option.translated.name }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {{ parent() }}

{% endblock %}
