.aloha-extend-cmspage{
  .cms-section-default{
    &.boxed {
      background-color:unset;
    }
  }
}

.aloha-listing-variants:has(*) {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 6px;
  margin-top: 6px;
}

.aloha-listing-variant-text {
  border: 1px solid $sw-border-color;
  padding: 2px 8px;
}

.aloha-listing-variant-color {
  width: 25px;
  height: 25px;
  border: 1px solid $sw-border-color;
}

.aloha-listing-variant-image {
  border: 1px solid $sw-border-color;

  img {
    max-width: 45px;
  }
}

.aloha-listing-variant-cover {
  border: 1px solid $sw-border-color;

  img {
    max-width: 45px;
  }
}
